* {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
}

body {
  background-color: #ebe5d3;
  font-family: 'Geologica', sans-serif;
  font-weight: 700;
  color: #454545;
}

.title {
  font-size: 4rem;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 32px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.turn {
  font-size: 3rem;
  margin-bottom: 32px;
  align-self: left;
}

.board {
    display: grid;
    height: 500px;
    width: 500px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    border: 0px;
    gap: 12px;
    padding: 24px;
    background-color: #93B7BE;
    border-radius: 16px;
  }
  
  .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 8rem;
    border: 0px;
    background-color: #F1FFFA;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: #454545;
    border-radius: 4px;
  }

  .cell:hover {
    background-color: #d1ece2;
  }

  .restart {
    font-size: 2rem;
    margin-top: 48px;
    padding: 12px 24px;
    background-color: #F1FFFA;
    color: #454545;
    outline: 8px solid #93B7BE;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }

  .restart:hover {
    background-color: #d1ece2;
  }

  .restart:active {
    background-color: #bcd3ca;
  }